html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/texture.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
  }